body {
	height: 100vh;
	width: 100vw;
}

main {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
}

img {
	width: 400px;
	margin-right: 60px;
}

section {
	position: relative;
	height: 535px;
	width: 440px;
	background-color: white;
	padding: 64px;
}

section.signup {
	padding-top: 32px;
}

h1 {
	margin-bottom: 32px;
}

p {
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	color: #ff2e60;
}

p.signup {
	top: 415px;
}

p.login {
	top: 286px;
}

form input {
	width: 100%;
	height: 42px;
	padding-left: 6px;
	margin-bottom: 12px;
	font-size: 16px;
}

.buttonblue {
	width: 100%;
	margin: 18px 0 54px 0;
}

a {
	display: block;
	text-align: center;
	margin-bottom: 18px;
	color: black;
	font-size: 14px;
}
