@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Arial Narrow", Arial, sans-serif;
	font-size: 16px;
	list-style-type: none;
}

body {
	background-color: #edeeef;
}

/* --- General Elements */

button {
	border-width: 1px;
	transition: 0.3s;
}

button:hover,
button:focus,
.buttonblue:hover,
.buttonblue:focus {
	cursor: pointer;
	scale: 0.95;
}

.buttonblue {
	width: 180px;
	height: 40px;

	font-size: 20px;
	text-decoration: none;
	background-color: #4717f1;
	color: white;
	border-color: #4717f1;
	border-style: solid;
	transition: 0.3s;
}

.buttongrey {
	width: 180px;
	height: 40px;

	font-size: 20px;
	text-decoration: none;
	background-color: transparent;
	color: #575757;
	border-color: #575757;
	border-style: solid;
	transition: 0.3s;
}

.buttonpink {
	width: 180px;
	height: 40px;

	font-size: 20px;
	text-decoration: none;
	background-color: transparent;
	color: #ff2e60;
	border-color: #ff2e60;
	border-style: solid;
	transition: 0.3s;
}

.buttonsmall {
	display: inline;
	border: none;
	height: 26px;
	width: 192px;
	font-size: 12px;
	text-align: center;
	padding: 3px 12px;
	cursor: pointer;
	line-height: initial;
}

.hidden {
	display: none !important;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: rgba(87, 87, 87, 0.7);
}

/* --- Header --- */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 70px;
	padding: 0 18px;
	margin-bottom: 18px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	width: 403px;
}

nav li {
	font-size: 20px;
	font-weight: bold;
}

/* --- Main --- */
main {
	margin: auto auto;
	width: 918px;
}

h1 {
	color: #4717f1;
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;

	margin-bottom: 12px;
	margin-bottom: 0px;
}
