<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="stylesheet" href="/stylesheets/loginSignup.css" />
		<title>Confirm Email</title>
	</head>
	<body>
		<main>
			<img src="/img/rlab.jpg" alt="Robot Lab Logo" />
			<section class="confirm">
				<p class="confirm"><%- locals.msg %></p>
				<a href="/users/login" class="buttonblue confirm">To Log In</a>
			</section>
		</main>
	</body>
</html>
