<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <link rel="stylesheet" href="../stylesheets/loginSignup.css" />
    <script src="../scripts/login.js" defer></script>
    <title>Log In</title>
  </head>
  <body>
    <main>
      <img src="../images/rlab.jpg" alt="Robot Lab Logo" />
      <section>
        <p class="hidden">Email or password incorrect</p>
        <div>
          <form action="/" type="GET">
            <div>
              <label for="email">email@hva.nl</label>
              <input type="text" name="email" id="email" />
            </div>
            <div>
              <label for="password">password</label>
              <input type="password" name="password" id="password" />
            </div>
            <button type="submit" class="buttonblue">Log In</button>
          </form>
          <a href="./signup.html">Create Account</a>
          <a href="./resetpassword.html">Forgot Password</a>
        </div>
      </section>
    </main>
  </body>
</html>
