<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="stylesheet" href="/stylesheets/loginSignup.css" />
		<title>Log In</title>
	</head>
	<body>
		<main>
			<svg width="300" height="300">
				<image xlink:href="/img/RLabSVG.svg" width="300" height="300" />
			</svg>
			<section>
				<p class="login"><%- locals.error %></p>
				<div>
					<form action="/users/login" method="POST">
						<div>
							<label for="email">email@hva.nl</label>
							<input
								type="text"
								name="email"
								id="email"
								value="<%= locals.email %>"
							/>
						</div>
						<div>
							<label for="password">password</label>
							<input type="password" name="password" id="password" />
						</div>
						<button type="submit" class="buttonblue">Log In</button>
					</form>
					<a href="/users/signup">Create Account</a>
					<a href="./resetpassword.html">Forgot Password</a>
				</div>
			</section>
		</main>
	</body>
</html>
