<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="stylesheet" href="/stylesheets/loginSignup.css" />
		<title>Reset Password</title>
	</head>
	<body>
		<main>
			<svg width="300" height="300">
				<image xlink:href="/img/RLabSVG.svg" width="300" height="300" />
			</svg>
			<section>
				<p class="login"><%- locals.error %></p>
				<div>
					<form action="/users/resetpassword/<%= locals.hash %>" method="POST">
						<div>
							<label for="password">password</label>
							<input type="password" name="password" id="password" />
						</div>
						<div>
							<label for="confirm">Confirm Password</label>
							<input type="confirm" name="confirm" id="confirm" />
						</div>
						<button type="submit" class="buttonblue">Change Password</button>
					</form>
				</div>
			</section>
		</main>
	</body>
</html>
