<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="stylesheet" href="/stylesheets/loginSignup.css" />
		<script src="/modules/signup.js" defer></script>
		<title>Sign Up</title>
	</head>
	<body>
		<main>
			<img src="/img/rlab.jpg" alt="Robot Lab Logo" />
			<section class="signup">
				<h1>Create Account</h1>
				<p class="signup hidden"></p>
				<div>
					<form action="/users/new" method="POST">
						<div>
							<label for="email">email@hva.nl</label>
							<input
								type="email"
								name="email"
								id="email"
								value="<%= locals.email %>"
							/>
						</div>
						<div>
							<label for="fullname">fullname</label>
							<input
								type="text"
								name="fullname"
								id="fullname"
								value="<%= locals.name %>"
							/>
						</div>
						<div>
							<label for="password">password</label>
							<input type="password" name="password" id="password" />
						</div>
						<div>
							<label for="confirm">confirm password</label>
							<input type="password" name="confirm" id="confirm" />
						</div>
						<button type="submit" class="buttonblue">Create Account</button>
					</form>
				</div>
			</section>
		</main>
	</body>
</html>
