<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="stylesheet" href="/stylesheets/uploadEdit.css" />
		<title>Upload Model</title>
		<script src="/modules/upload.js" defer></script>
	</head>
	<body>
		<header>
			<nav>
				<a href="upload.html"><img src="" /></a>
				<ul>
					<li><a href="/">Overview</a></li>
					<li><a href="/">Manuals</a></li>
					<li><a href="/">Troubleshooting</a></li>
				</ul>
				<button type="button"><img src="" /></button>
			</nav>
		</header>

		<main>
			<h1>Upload model</h1>

			<form action="/models/upload" method="POST" enctype="multipart/form-data">
				<div id="formcon">
					<fieldset id="thumbnailcon">
						<label for="thumbnail"
							>+<br />
							Thumbnail</label
						>
						<input
							type="file"
							accept=".png, .jpg, .jpeg"
							name="thumbnail"
							id="thumbnail"
						/>
					</fieldset>

					<fieldset>
						<legend>Information</legend>
						<div>
							<label for="model">3D Model:</label>
							<label for="model" class="buttonblue buttonsmall"
								>Choose File</label
							>
							<input type="file" accept=".gltf" name="model" id="model" />
							<p></p>
						</div>
						<div>
							<label for="name">Model Name:</label>
							<input type="text" name="name" id="name" />
						</div>
						<div>
							<label>Tags:</label>
							<button type="button" class="buttonblue buttonsmall">
								Open Tags
							</button>
							<input type="hidden" name="tags" id="tags" value="" />
						</div>
						<div>
							<label>AR Type:</label>
							<div>
								<input
									type="radio"
									name="type"
									id="marker"
									value="marker"
									checked
								/>
								<label for="marker">Marker</label>
								<input type="radio" name="type" id="gps" value="gps" />
								<label for="gps">GPS</label>
							</div>
						</div>
						<div id="longcon" class="hidden">
							<label for="longitude">Longitude:</label>
							<input type="text" name="longitude" id="longitude" />
						</div>
						<div id="latcon" class="hidden">
							<label for="latitude">Latitude:</label>
							<input type="text" name="latitude" id="latitude" />
						</div>
					</fieldset>
				</div>

				<fieldset id="descriptionfieldset">
					<legend>Description</legend>
					<textarea
						name="description"
						id="description"
						cols="40"
						rows="7"
					></textarea>
				</fieldset>

				<div id="buttoncon">
					<button type="button" class="buttongrey">cancel</button>
					<button type="submit" class="buttonblue">Upload</button>
				</div>
			</form>
			<div class="popup tagspopup hidden">
				<div>
					<h2>Tags</h2>
					<div>
						<section>
							<h3>Projects</h3>
							<div>
								<input
									type="checkbox"
									name="greenmile"
									id="greenmile"
									value="Green Mile"
								/>
								<label for="greenmile">Green Mile</label>
							</div>
							<div>
								<input type="checkbox" name="cw4n" id="cw4n" value="CW4N" />
								<label for="cw4n">CW4N</label>
							</div>
							<div>
								<input
									type="checkbox"
									name="makeathon"
									id="makeathon"
									value="Makeathon"
								/>
								<label for="makeathon">Makeathon</label>
							</div>
						</section>
						<section>
							<h3>Materials</h3>
							<div>
								<input
									type="checkbox"
									name="virginwood"
									id="virginwood"
									value="Virgin Wood"
								/>
								<label for="virginwood">Virgin Wood</label>
							</div>
							<div>
								<input
									type="checkbox"
									name="circularwood"
									id="circularwood"
									value="Circular Wood"
								/>
								<label for="circularwood">Circular Wood</label>
							</div>
							<div>
								<input
									type="checkbox"
									name="plastic"
									id="plastic"
									value="Plastic"
								/>
								<label for="plastic">Plastic</label>
							</div>
							<div>
								<input type="checkbox" name="metal" id="metal" value="Metal" />
								<label for="metal">Metal</label>
							</div>
						</section>
						<section>
							<h3>Properties</h3>
							<div>
								<input
									type="checkbox"
									name="compdesign"
									id="compdesign"
									value="Computational Design"
								/>
								<label for="compdesign">Computational Design</label>
							</div>
							<div>
								<input
									type="checkbox"
									name="tradjoinery"
									id="tradjoinery"
									value="Traditional Joinery"
								/>
								<label for="tradjoinery">Traditional Joinery</label>
							</div>
							<div>
								<input type="checkbox" name="robot" id="robot" value="Robot" />
								<label for="robot">Robot</label>
							</div>
							<div>
								<input
									type="checkbox"
									name="furniture"
									id="furniture"
									value="Furniture"
								/>
								<label for="furniture">Furniture</label>
							</div>
						</section>
					</div>
					<button type="button" class="buttonblue">Accept</button>
				</div>
			</div>
		</main>
	</body>
</html>
